# for anyone watching the previous commits before this one, im doing this as the original pack's files arent meant to be easily seen (aka, not open source)
# sure its a resource pack, but gotta do what i gotta do
original